<% if @article.errors.any? %>
<h4>Errors</h4>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |nArt| %>
<p>
  <%= nArt.label :title %>
  <%= nArt.text_field :title %>
</p>
<p>
  <%= nArt.label :description %>
  <%= nArt.text_area :description %>
</p>
<p>
  <%= nArt.submit %>
</p>
<% end %>
