
<%= render 'shared/errors', obj: @article %>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |nArt| %>
    <div class="form-group">
          <%= nArt.label :title, class: "control-label" %>
          <%= nArt.text_field :title, class: "form-control", placeholder: "Title Of Article" %>
    </div>
    <div class="form-group">
      <%= nArt.label :description, class: "control-label" %>
      <%= nArt.text_area :description, class: "form-control", placeholder: "Description Of Article", rows: 10 %>
    </div>
    <div class="form-group">
      <%= nArt.submit class: "btn-lg sBtn" %>
    </div>
    <% end %>
  </div>
</div>
