<div class="container">
  <div class="heading text-center">
    <h1> Listing All Articles </h1>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <% @articles.each do |allArticle| %>
      <div class="well well-lg">
        <div class="article_title">
          <%= link_to allArticle.title, article_path(allArticle) %>
        </div>
        <div class="article_description">
          <%= truncate(allArticle.description, length: 100) %>
          <div class="article_details">
            <small>Created by: <%= allArticle.user.username if allArticle.user %> ,
                    Created: <%= time_ago_in_words(allArticle.created_at) %> ago,
                    Updated: <%= time_ago_in_words(allArticle.updated_at) %> ago
            </small>
          </div>
        </div>
        <div class="impoLink">
          <%= link_to 'edit', edit_article_path(allArticle), class: "btn btn-primary" %>
          <%= link_to 'Delete', article_path(allArticle), class: "btn btn-danger", method: :delete, data: { confirm: "You want to delete?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
