<h1> Listing All Articles </h1>

<p>
  <%= link_to 'Click here to create new article', new_article_path %>
</p>

<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
  </tr>
  <% @articles.each do |allArticle| %>
  <tr>
    <td>
      <%= allArticle.title %>
    </td>
    <td>
      <%= allArticle.description %>
    </td>
    <td>
      <%= link_to 'Edit', edit_article_path(allArticle) %>
    </td>
    <td>
      <%= link_to 'Show', article_path(allArticle) %>
    </td>
    <td>
      <%= link_to 'Delete', article_path(allArticle), method: :delete, data: { confirm: "are you sure you want to delete this blog?" } %>
    </td>
  </tr>
  <% end %>
</table>
